# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'elearn.js - to HTML',
      'command': 'atom-elearnjs:to-html'
    },
    {
      'label': 'elearn.js - to PDF',
      'command': 'atom-elearnjs:to-pdf'
    },
    {
        'label': 'elearn.js - Save as\u2026',
        'command': 'atom-elearnjs:save-as'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'eLearn.js'
      'submenu': [
        {
          'label': 'Save as HTML',
          'command': 'atom-elearnjs:to-html'
        },
        {
          'label': 'Save as PDF',
          'command': 'atom-elearnjs:to-pdf'
        },
        {
            'label': 'Save as\u2026',
            'command': 'atom-elearnjs:save-as'
        }
      ]
    ]
  }
]
