div.clickimage .imagebox ol.pins li i{
    -webkit-transform:translateY(-0.1em) translateX(-0.3em);
}

div.clickimage .imagebox ol.pins li span{
    -webkit-transform:translateY(-0.7em) translateX(.28em);
}

div.clickimage .imagebox ol.pins li.top i{
    -webkit-transform:rotate(180deg) translateY(-0.5em) translateX(.32em)
}

div.clickimage .imagebox ol.pins li.top span{
    -webkit-transform:translateY(2em) translateX(.28em)
}

div.clickimage .imagebox ol.pins li.right i{
    -webkit-transform:rotate(270deg) translateY(-0.65em) translateX(-0.2em)
}

div.clickimage .imagebox ol.pins li.right span{
    -webkit-transform:translateY(.6em) translateX(-1.2em)
}

div.clickimage .imagebox ol.pins li.left i{
    -webkit-transform:rotate(90deg) translateX(.2em)
}

div.clickimage .imagebox ol.pins li.left span{
    -webkit-transform:translateY(.6em) translateX(1.7em)
}

@supports(-moz-appearance:meterbar){
    div.clickimage .imagebox ol.pins li span{
        -webkit-transform:translateY(-1em) translateX(.3em)
    }
    div.clickimage .imagebox ol.pins li.top i{
        -webkit-transform:rotate(180deg) translateY(-0.45em) translateX(.32em)
    }
    div.clickimage .imagebox ol.pins li.right i{
        -webkit-transform:rotate(270deg) translateY(-0.55em) translateX(-0.2em)
    }
    div.clickimage .imagebox ol.pins li.left i{
        -webkit-transform:rotate(90deg) translateY(.05em) translateX(.2em)
    }
}
